.container
{
    height: 500px;
    width: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffe066;
    overflow-x: hidden;

}

.samosa{
    height: 0;
    width: 0;
    border-bottom: 170px solid #fcb03c;
    border-left: 90px solid transparent;
    border-right:90px solid transparent;
    position: absolute;
    right: -180px;
    top: 80px;
    animation: swipe1 2s forwards;
}
.sauce{
    height: 0;
    width: 0;
    border-bottom: 60px solid #c82e35;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    left: -30px;
}
.drip1{
    background-color: #c82e35;
    height: 40px;
    width: 15px;
    border-radius: 15px;
    position: relative;
    top: 50px;
}
.drip2{
    background-color: #c82e35;
    height: 40px;
    width:8px;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: 19px;
    left: 19px;
}
.chai{
    height: 0;
    width: 50px;
    border-top: 100px solid #AB6E15;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 160px;
    left: -110px;
    animation: swipe2 2s forwards;
}
.glass{
    height: 0;
    width: 55px;
    border-top: 130px solid rgba(255,255,255,0.3);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -2px;
    left: -32px;
}
@keyframes swipe1{
    100%{
        transform: translateX(-230px);
    }
}
@keyframes swipe2{
    100%{
        transform: translateX(200px);
    }
}
.text,.span{
    color: #c82e35;
    width: 300px;
    position: relative;
    margin: auto;
    left: 0;
    right:0;
    top: 270px;
    font-family: 'Ubuntu', sans-serif;
}
.text{
    font-size: 15px;
    text-align: justify;
}
span{
    font-size: 30px;
}